/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url(http://fonts.googleapis.com/css?family=Lato:700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none; }

small, .small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px; }

ol,
ul {
  padding: 0;
  list-style-type: none; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*********************
Variables
*********************/
/*********************
COLORS
*********************/
/*********************
Misc
*********************/
/*********************
Typography
*********************/
/*********************
FONT FACE
*********************/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/*********************
Functions
*********************/
/*********************
Mixins
*********************/
/*********************
TRANSITION
*********************/
/* USAGE: @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
Pie Mixin
*********************/
/*********************
BORDER RADIUS
*********************/
/* USAGE: @include border-radius(4px 4px 0 0); */
/*********************
BOX SHADOWS
*********************/
/* USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22)); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
Opacities & transparencies
*********************/
/*********************
Universal RGBA Background
*********************/
/*********************
Universal RGBA Color
*********************/
/*********************
Transparent Background
*********************/
/*********************
Rotate
*********************/
/*********************
Text Shadow
*********************/
/*********************
ARROWs Mixin
*********************/
/*   $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right    -    $color: hex, rgb or rbga   -    $size: px or em

EXAMPLES:
	&:before {@include arrow(right, #000, 12px); }
	&:after {@include arrow(right, #000, 9px); }
    .element { @include arrow(top, #000, 50px); }     */
/*********************
Sticky Footer Mixin
*********************/
/* Example @include sticky-footer(40px) */
/*********************
Ellipsis
*********************/
/* Single-line */
/* USAGE : ( ) */
/* Multi-line */
/* USAGE : ( @include multiline-ellipsis(6rem, 1.2rem, 3em); ) */
/*********************
Keyframe Transition
*********************/
/*********************
CSS3 Animate
*********************/
/*
    Example usage:
    @include animation(10s, 5s, changecolour, infiite)
 */
/*********************
Cleafix
*********************/
/* Example :  @include clearfix; */
/*********************
Filter
*********************/
/*********************
Global Vender Mixin
*********************/
/*********************
Grid
*********************/
.last-col {
  float: right;
  padding-right: 0; }

/*
Mobile Grid Styles
These are the widths for the mobile grid.
*/
@media (max-width: 767px) {
  .m-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .m-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .m-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .m-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .m-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .m-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; } }
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .t-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .t-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .t-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .t-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .t-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }

  .t-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }

  .t-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }

  .t-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }

  .t-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; } }
/* Landscape to small desktop */
@media (min-width: 1030px) {
  .d-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .d-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .d-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .d-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .d-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .d-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }

  .d-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }

  .d-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }

  .d-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }

  .d-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; }

  .d-1of6 {
    float: left;
    padding-right: 0.75em;
    width: 16.6666666667%; }

  .d-1of7 {
    float: left;
    padding-right: 0.75em;
    width: 14.2857142857%; }

  .d-2of7 {
    float: left;
    padding-right: 0.75em;
    width: 28.5714286%; }

  .d-3of7 {
    float: left;
    padding-right: 0.75em;
    width: 42.8571429%; }

  .d-4of7 {
    float: left;
    padding-right: 0.75em;
    width: 57.1428572%; }

  .d-5of7 {
    float: left;
    padding-right: 0.75em;
    width: 71.4285715%; }

  .d-6of7 {
    float: left;
    padding-right: 0.75em;
    width: 85.7142857%; }

  .d-1of8 {
    float: left;
    padding-right: 0.75em;
    width: 12.5%; }

  .d-1of9 {
    float: left;
    padding-right: 0.75em;
    width: 11.1111111111%; }

  .d-1of10 {
    float: left;
    padding-right: 0.75em;
    width: 10%; }

  .d-1of11 {
    float: left;
    padding-right: 0.75em;
    width: 9.09090909091%; }

  .d-1of12 {
    float: left;
    padding-right: 0.75em;
    width: 8.33%; } }
/*********************
Animations
*********************/
/* Please refer to '/animations' directory for individualized animation breakdowns */
/*********************
Global
*********************/
html, body {
  min-height: 320px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.content-wrap {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.open-hamburger #hamburger-menu {
  right: 0; }
.open-hamburger .header,
.open-hamburger .content-wrap {
  margin-left: -280px; }
.open-hamburger .menu-icon:before {
  -webkit-transform: rotate(45deg) translate3d(5px, 10px, 0);
  -moz-transform: rotate(45deg) translate3d(5px, 10px, 0);
  -ms-transform: rotate(45deg) translate3d(5px, 10px, 0);
  -o-transform: rotate(45deg) translate3d(5px, 10px, 0);
  transform: rotate(45deg) translate3d(5px, 10px, 0); }
.open-hamburger .menu-icon .menu-icon__text {
  opacity: 0; }
.open-hamburger .menu-icon:after {
  -webkit-transform: rotate(-45deg) translate3d(5px, -10px, 0);
  -moz-transform: rotate(-45deg) translate3d(5px, -10px, 0);
  -ms-transform: rotate(-45deg) translate3d(5px, -10px, 0);
  -o-transform: rotate(-45deg) translate3d(5px, -10px, 0);
  transform: rotate(-45deg) translate3d(5px, -10px, 0); }

/* Simple Bouncy Ball (step 1)*/
@-webkit-keyframes bouncy-ball {
  0%, 100% {
    bottom: 0; }

  50% {
    bottom: 140px; } }
@-moz-keyframes bouncy-ball {
  0%, 100% {
    bottom: 0; }

  50% {
    bottom: 140px; } }
@-o-keyframes bouncy-ball {
  0%, 100% {
    bottom: 0; }

  50% {
    bottom: 140px; } }
@keyframes bouncy-ball {
  0%, 100% {
    bottom: 0; }

  50% {
    bottom: 140px; } }
/* Bouncy Ball */
@-webkit-keyframes adv-bouncy-ball {
  0% {
    bottom: 0;
    height: 110px; }

  50% {
    bottom: 140px;
    height: 140px; }

  65% {
    bottom: 160px;
    border-radius: 70px / 60px; }

  75% {
    bottom: 120px;
    height: 140px;
    border-radius: 70px; }

  98% {
    bottom: 0;
    height: 120px; }

  100% {
    bottom: 0;
    height: 120px; } }
@-moz-keyframes adv-bouncy-ball {
  0% {
    bottom: 0;
    height: 110px; }

  50% {
    bottom: 140px;
    height: 140px; }

  65% {
    bottom: 160px;
    border-radius: 70px / 60px; }

  75% {
    bottom: 120px;
    height: 140px;
    border-radius: 70px; }

  98% {
    bottom: 0;
    height: 120px; }

  100% {
    bottom: 0;
    height: 120px; } }
@-o-keyframes adv-bouncy-ball {
  0% {
    bottom: 0;
    height: 110px; }

  50% {
    bottom: 140px;
    height: 140px; }

  65% {
    bottom: 160px;
    border-radius: 70px / 60px; }

  75% {
    bottom: 120px;
    height: 140px;
    border-radius: 70px; }

  98% {
    bottom: 0;
    height: 120px; }

  100% {
    bottom: 0;
    height: 120px; } }
@keyframes adv-bouncy-ball {
  0% {
    bottom: 0;
    height: 110px; }

  50% {
    bottom: 140px;
    height: 140px; }

  65% {
    bottom: 160px;
    border-radius: 70px / 60px; }

  75% {
    bottom: 120px;
    height: 140px;
    border-radius: 70px; }

  98% {
    bottom: 0;
    height: 120px; }

  100% {
    bottom: 0;
    height: 120px; } }
@-webkit-keyframes ball-shadow {
  0% {
    width: 90%;
    left: 5%; }

  50% {
    width: 60%;
    left: 20%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    zoom: 1; }

  65% {
    width: 60%;
    left: 20%; }

  75% {
    width: 60%;
    left: 20%; }

  98% {
    width: 90%;
    left: 5%; }

  100% {
    width: 90%;
    left: 5%; } }
@-moz-keyframes ball-shadow {
  0% {
    width: 90%;
    left: 5%; }

  50% {
    width: 60%;
    left: 20%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    zoom: 1; }

  65% {
    width: 60%;
    left: 20%; }

  75% {
    width: 60%;
    left: 20%; }

  98% {
    width: 90%;
    left: 5%; }

  100% {
    width: 90%;
    left: 5%; } }
@-o-keyframes ball-shadow {
  0% {
    width: 90%;
    left: 5%; }

  50% {
    width: 60%;
    left: 20%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    zoom: 1; }

  65% {
    width: 60%;
    left: 20%; }

  75% {
    width: 60%;
    left: 20%; }

  98% {
    width: 90%;
    left: 5%; }

  100% {
    width: 90%;
    left: 5%; } }
@keyframes ball-shadow {
  0% {
    width: 90%;
    left: 5%; }

  50% {
    width: 60%;
    left: 20%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    zoom: 1; }

  65% {
    width: 60%;
    left: 20%; }

  75% {
    width: 60%;
    left: 20%; }

  98% {
    width: 90%;
    left: 5%; }

  100% {
    width: 90%;
    left: 5%; } }
/* UFO ANIMATION */
@-webkit-keyframes hover-ufo {
  0% {
    top: 20%;
    left: 30%; }

  15% {
    left: 31%;
    top: 21%; }

  25% {
    left: 8%; }

  50% {
    top: 23%;
    left: 31%; }

  65% {
    left: 29.5%;
    top: 24.5%; }

  75% {
    left: 37%;
    top: 17%; }

  86% {
    left: 13%; }

  92% {
    top: 18%;
    left: 34%; }

  100% {
    top: 20%;
    left: 30%; } }
@-moz-keyframes hover-ufo {
  0% {
    top: 20%;
    left: 30%; }

  15% {
    left: 31%;
    top: 21%; }

  25% {
    left: 8%; }

  50% {
    top: 23%;
    left: 31%; }

  65% {
    left: 29.5%;
    top: 24.5%; }

  75% {
    left: 37%;
    top: 17%; }

  86% {
    left: 13%; }

  92% {
    top: 18%;
    left: 34%; }

  100% {
    top: 20%;
    left: 30%; } }
@-o-keyframes hover-ufo {
  0% {
    top: 20%;
    left: 30%; }

  15% {
    left: 31%;
    top: 21%; }

  25% {
    left: 8%; }

  50% {
    top: 23%;
    left: 31%; }

  65% {
    left: 29.5%;
    top: 24.5%; }

  75% {
    left: 37%;
    top: 17%; }

  86% {
    left: 13%; }

  92% {
    top: 18%;
    left: 34%; }

  100% {
    top: 20%;
    left: 30%; } }
@keyframes hover-ufo {
  0% {
    top: 20%;
    left: 30%; }

  15% {
    left: 31%;
    top: 21%; }

  25% {
    left: 8%; }

  50% {
    top: 23%;
    left: 31%; }

  65% {
    left: 29.5%;
    top: 24.5%; }

  75% {
    left: 37%;
    top: 17%; }

  86% {
    left: 13%; }

  92% {
    top: 18%;
    left: 34%; }

  100% {
    top: 20%;
    left: 30%; } }
@-webkit-keyframes lazer-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-moz-keyframes lazer-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-o-keyframes lazer-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@keyframes lazer-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-webkit-keyframes lazer-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-moz-keyframes lazer-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-o-keyframes lazer-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@keyframes lazer-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-webkit-keyframes lazer-3 {
  0% {
    top: -10%;
    right: 77%;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 42%;
    right: 125%; } }
@-moz-keyframes lazer-3 {
  0% {
    top: -10%;
    right: 77%;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 42%;
    right: 125%; } }
@-o-keyframes lazer-3 {
  0% {
    top: -10%;
    right: 77%;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 42%;
    right: 125%; } }
@keyframes lazer-3 {
  0% {
    top: -10%;
    right: 77%;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 42%;
    right: 125%; } }
/* END UFO ANIMATION */
/* SUPER J Animation */
@-webkit-keyframes hover-j {
  0% {
    top: 10%;
    left: 10%; }

  15% {
    left: 11%;
    top: 11%; }

  25% {
    left: 8%; }

  50% {
    top: 13%;
    left: 11%; }

  65% {
    left: 9.5%;
    top: 14.5%; }

  75% {
    left: 17%;
    top: 7%; }

  86% {
    left: 13%; }

  92% {
    top: 8%;
    left: 14%; }

  100% {
    top: 10%;
    left: 10%; } }
@-moz-keyframes hover-j {
  0% {
    top: 10%;
    left: 10%; }

  15% {
    left: 11%;
    top: 11%; }

  25% {
    left: 8%; }

  50% {
    top: 13%;
    left: 11%; }

  65% {
    left: 9.5%;
    top: 14.5%; }

  75% {
    left: 17%;
    top: 7%; }

  86% {
    left: 13%; }

  92% {
    top: 8%;
    left: 14%; }

  100% {
    top: 10%;
    left: 10%; } }
@-o-keyframes hover-j {
  0% {
    top: 10%;
    left: 10%; }

  15% {
    left: 11%;
    top: 11%; }

  25% {
    left: 8%; }

  50% {
    top: 13%;
    left: 11%; }

  65% {
    left: 9.5%;
    top: 14.5%; }

  75% {
    left: 17%;
    top: 7%; }

  86% {
    left: 13%; }

  92% {
    top: 8%;
    left: 14%; }

  100% {
    top: 10%;
    left: 10%; } }
@keyframes hover-j {
  0% {
    top: 10%;
    left: 10%; }

  15% {
    left: 11%;
    top: 11%; }

  25% {
    left: 8%; }

  50% {
    top: 13%;
    left: 11%; }

  65% {
    left: 9.5%;
    top: 14.5%; }

  75% {
    left: 17%;
    top: 7%; }

  86% {
    left: 13%; }

  92% {
    top: 8%;
    left: 14%; }

  100% {
    top: 10%;
    left: 10%; } }
@-webkit-keyframes cloud-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-moz-keyframes cloud-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-o-keyframes cloud-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@keyframes cloud-1 {
  0% {
    top: -1%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  75% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 101%;
    right: 100%; } }
@-webkit-keyframes cloud-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-moz-keyframes cloud-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-o-keyframes cloud-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@keyframes cloud-2 {
  0% {
    top: 45%;
    right: -2%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  10% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 110%;
    right: 40%; } }
@-webkit-keyframes cloud-3 {
  0% {
    top: -25%;
    left: 17%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  25% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 12%;
    left: -25%; } }
@-moz-keyframes cloud-3 {
  0% {
    top: -25%;
    left: 17%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  25% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 12%;
    left: -25%; } }
@-o-keyframes cloud-3 {
  0% {
    top: -25%;
    left: 17%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  25% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 12%;
    left: -25%; } }
@keyframes cloud-3 {
  0% {
    top: -25%;
    left: 17%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  25% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    zoom: 1; }

  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1; }

  100% {
    top: 12%;
    left: -25%; } }
/*********************
IMPORTING MODULES
*********************/
/*********************
Header
*********************/
.header {
  width: 100%;
  background: #3c3c3c;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.logo-wrap {
  margin: auto auto -1em auto;
  width: 6em;
  height: auto;
  padding: .7em .3em;
  background: #3c3c3c;
  position: relative;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/PIE/PIE.htc"); }

.logo {
  margin: auto;
  width: 60%;
  height: auto; }
  .logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    zoom: 1; }

.scss-talk-authors {
  position: absolute;
  top: .9em;
  left: 1em;
  z-index: 10;
  font-size: .8em;
  text-align: left;
  text-transform: uppercase; }
  .scss-talk-authors a {
    color: #999;
    text-decoration: none; }
    .scss-talk-authors a:hover {
      color: #fc0d1b; }
  .scss-talk-authors span {
    font-size: .8em;
    color: #777; }

.content-wrap {
  background: #5b5b5b; }

#hamburger-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 280px;
  padding: 1em 1em 1.5em 1em;
  background: #444444;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #hamburger-menu h3 {
    color: #969696; }
  #hamburger-menu ul {
    margin-top: 1.5em; }

a.return-home {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  text-transform: capitalize; }
  a.return-home:hover {
    color: #fc0d1b; }

.menu-icon {
  display: block;
  width: 40px;
  position: absolute;
  right: 1em;
  top: .9em;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .menu-icon:before, .menu-icon:after,
  .menu-icon .menu-icon__text {
    background: #cbcbcb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin: 6px 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%; }
  .menu-icon .menu-icon__text {
    text-indent: -9999px; }

#main-nav li {
  font-size: 1.2em;
  margin-bottom: 1em; }
#main-nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize; }
  #main-nav a:hover {
    color: #fc0d1b; }

/*********************
Footer
*********************/
/*********************
Section Specific
*********************/
#scss-talk-welcome {
  text-align: center;
  padding-top: 7.5em;
  color: #dcdbde; }
  #scss-talk-welcome h1 {
    color: white;
    font-size: 3em; }

.themes .content-wrap {
  padding-top: 100px; }

/*********************
Animation
*********************/
.animation-wrap {
  position: relative;
  padding-top: 65%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(70%);
  -moz-filter: blur(70%);
  -ms-filter: blur(70%);
  -o-filter: blur(70%);
  filter: blur(70%);
  overflow: hidden; }

/*****************/
/* BOUNCY BALL ANIMATION */
/*****************/
#ballWrapper {
  width: 140px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -70px; }

#ball {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: bouncy-ball;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: bouncy-ball;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.8s;
  -o-animation-name: bouncy-ball;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-name: bouncy-ball;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/PIE/PIE.htc");
  background-size: 80% 80%;
  position: absolute;
  bottom: 0;
  width: 140px;
  height: 140px;
  background: #fc0d1b; }

/* Advanced Bouncy Ball */
#adv-ball {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: adv-bouncy-ball;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: adv-bouncy-ball;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.8s;
  -o-animation-name: adv-bouncy-ball;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-name: adv-bouncy-ball;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/PIE/PIE.htc");
  position: absolute;
  bottom: 0;
  width: 140px;
  height: 140px;
  background: url("/library/images/10up-trans-solidwhite.png") no-repeat center #fc0d1b;
  background-size: 80% 80%;
  box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.35), inset -2px -1px 40px rgba(50, 57, 68, 0.75), 0 0 1px #323944; }
  #adv-ball:after {
    content: "";
    width: 80px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 10px;
    background: linear-gradient(top, #e8e8e8 0%, #e8e8e8 1%, rgba(255, 255, 255, 0) 100%);
    -webkit-border-radius: 50%/25%;
    -moz-border-radius: 50%/25%;
    -ms-border-radius: 50%/25%;
    -o-border-radius: 50%/25%;
    -border-radius: 50%/25%;
    border-radius: 50%/25%;
    behavior: url("../js/PIE/PIE.htc"); }

#ball-shadow {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: ball-shadow;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: ball-shadow;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.8s;
  -o-animation-name: ball-shadow;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-name: ball-shadow;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/PIE/PIE.htc");
  content: "";
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 90%;
  background: #323944; }

/******* END Bouncy Ball *******/
/*****************/
/* UFO ANIMATION */
/*****************/
.ufo-bg {
  background-image: url("../images/ufo-bg.jpg"); }

.ufo {
  max-width: 400px;
  width: 55%;
  min-height: 200px;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 0%;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 7s;
  -webkit-animation-name: hover-ufo;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 7s;
  -moz-animation-name: hover-ufo;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 7s;
  -o-animation-name: hover-ufo;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 7s;
  animation-name: hover-ufo;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }
  .ufo img {
    width: 100%;
    height: auto; }

.lazers {
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 5; }
  .lazers > div {
    position: absolute;
    top: -10%;
    right: 0;
    -webkit-transition: all, 0.2s, ease-in-out;
    transition: all, 0.2s, ease-in-out;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45deg), M12=-sin(45deg), M21=sin(45deg), M22=cos(45deg));
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45deg), M12=-sin(45deg), M21=sin(45deg), M22=cos(45deg))";
    zoom: 1;
    max-width: 100px; }
  .lazers img {
    width: 100%;
    max-width: 100px; }
  .lazers .lazer-3 {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    zoom: 1;
    top: -15%;
    right: 77%; }

/******* END UFO *******/
/*****************/
/* SUPER J ANIMATION */
/*****************/
.super-j-bg {
  background-image: url("../images/clouds-bg.jpg"); }

.super-j-text {
  max-width: 1075px;
  max-height: 386px;
  width: 45%;
  height: auto;
  position: absolute;
  top: 13%;
  left: 26%;
  z-index: 3; }

.super-j {
  max-width: 1000px;
  width: 75%;
  min-height: 400px;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 10%;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 7s;
  -webkit-animation-name: hover-j;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 7s;
  -moz-animation-name: hover-j;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 7s;
  -o-animation-name: hover-j;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 7s;
  animation-name: hover-j;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }
  .super-j img {
    width: 100%;
    height: auto; }

.clouds {
  position: absolute;
  top: 2%;
  left: 13%;
  width: 100%;
  height: 100%;
  z-index: 5; }
  .clouds > div {
    position: absolute;
    -webkit-transition: all, 0.2s, ease-in-out;
    transition: all, 0.2s, ease-in-out; }
  .clouds .cloud-2 img {
    width: 140%; }
  .clouds .cloud-3 img {
    width: 150%; }

.cloud-1 {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: cloud-1;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 3s;
  -moz-animation-name: cloud-1;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 3s;
  -o-animation-name: cloud-1;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: cloud-1;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.cloud-2 {
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: cloud-2;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 5s;
  -moz-animation-duration: 2s;
  -moz-animation-name: cloud-2;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 5s;
  -o-animation-duration: 2s;
  -o-animation-name: cloud-2;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 5s;
  animation-duration: 2s;
  animation-name: cloud-2;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.clouds-3 {
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: clouds-3;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 9s;
  -moz-animation-duration: 5s;
  -moz-animation-name: clouds-3;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 9s;
  -o-animation-duration: 5s;
  -o-animation-name: clouds-3;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 9s;
  animation-duration: 5s;
  animation-name: clouds-3;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.lazer-1 {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: lazer-1;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 3s;
  -moz-animation-name: lazer-1;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 3s;
  -o-animation-name: lazer-1;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: lazer-1;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.lazer-2 {
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: lazer-2;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 5s;
  -moz-animation-duration: 2s;
  -moz-animation-name: lazer-2;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 5s;
  -o-animation-duration: 2s;
  -o-animation-name: lazer-2;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 5s;
  animation-duration: 2s;
  animation-name: lazer-2;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.lazer-3 {
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: lazer-3;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 9s;
  -moz-animation-duration: 5s;
  -moz-animation-name: lazer-3;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 9s;
  -o-animation-duration: 5s;
  -o-animation-name: lazer-3;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 9s;
  animation-duration: 5s;
  animation-name: lazer-3;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite; }

.theme {
  padding: 1em;
  width: 70%;
  margin: 0 auto; }

/* Multiple assignments */
.regular-theme {
  background-color: #aaaaaa;
  color: white; }

.medium-theme {
  background-color: #999999;
  color: white; }

.dark-theme {
  background-color: #666666;
  color: white; }

.light-theme {
  background-color: #eeeeee;
  color: black; }
