

/* Bouncy Ball */
@include keyframe(adv-bouncy-ball) {
    0% {
        bottom: 0;
        height: 110px;
    }
    50% {
        bottom: 140px;
        height: 140px;
    }
    65% {
        bottom: 160px;
        border-radius: 70px / 60px;
    }
    75% {
        bottom: 120px;
        height: 140px;
        border-radius: 70px;
    }
    98% {
        bottom: 0;
        height: 120px;
    }
    100% {
        bottom: 0;
        height: 120px;
    }
}
@include keyframe(ball-shadow) {
    0% {
        width: 90%;
        left: 5%;
    }
    50% {
        width: 60%;
        left: 20%;
        @include opacity(.6);
    }
    65% {
        width: 60%;
        left: 20%;
    }
    75% {
        width: 60%;
        left: 20%;
    }
    98% {
        width: 90%;
        left: 5%;
    }
    100% {
        width: 90%;
        left: 5%;
    }
}

