

/* SUPER J Animation */
@include keyframe(hover-j) {
    0%{
        top: 10%;
        left: 10%
    }
    15%{
        left: 11%;
        top: 11%;
    }
    25%{
        left: 8%
    }
    50%{
        top: 13%;
        left: 11%
    }
    65%{
        left: 9.5%;
        top: 14.5%;
    }
    75%{
        left: 17%;
        top: 7%;
    }
    86%{
        left: 13%;
    }
    92%{
        top: 8%;
        left: 14%
    }
    100%{
        top: 10%;
        left: 10%;
    }
}

@include keyframe(cloud-1) {
    0%{
        top: -1%;
        right: -2%;
        @include opacity(0);
    }
    10%{
        @include opacity(1);
    }
    75%{
        @include opacity(0);
    }
    100%{
        top: 101%;
        right: 100%;
    }
}

@include keyframe(cloud-2) {
    0%{
        top: 45%;
        right: -2%;
        @include opacity(0);
    }
    10%{
        @include opacity(1);
    }
    70%{
        @include opacity(0);
    }
    100%{
        top: 110%;
        right: 40%;
    }
}

@include keyframe(cloud-3) {
    0%{
        top: -25%;
        left: 17%;
        @include opacity(0);
    }
    25%{
        @include opacity(1);
    }
    70%{
        @include opacity(0);
    }
    100%{
        top: 12%;
        left: -25%;
    }
}