

/* UFO ANIMATION */
@include keyframe(hover-ufo) {
    0%{
        top: 20%;
        left: 30%
    }
    15%{
        left: 31%;
        top: 21%;
    }
    25%{
        left: 8%
    }
    50%{
        top: 23%;
        left: 31%
    }
    65%{
        left: 29.5%;
        top: 24.5%;
    }
    75%{
        left: 37%;
        top: 17%;
    }
    86%{
        left: 13%;
    }
    92%{
        top: 18%;
        left: 34%
    }
    100%{
        top: 20%;
        left: 30%;
    }
}



@include keyframe(lazer-1) {
    0%{
        top: -1%;
        right: -2%;
        @include opacity(0);
    }
    10%{
        @include opacity(1);
    }
    75%{
        @include opacity(0);
    }
    100%{
        top: 101%;
        right: 100%;
    }
}

@include keyframe(lazer-2) {
    0%{
        top: 45%;
        right: -2%;
        @include opacity(0);
    }
    10%{
        @include opacity(1);
    }
    70%{
        @include opacity(0);
    }
    100%{
        top: 110%;
        right: 40%;
    }
}

@include keyframe(lazer-3) {
    0%{
        top: -10%;
        right: 77%;
        @include opacity(1);
    }
    70%{
        @include opacity(0);
    }
    100%{
        top: 42%;
        right: 125%;
    }
}


/* END UFO ANIMATION */



