/*********************
Global
*********************/

html, body{
    min-height: 320px;
    font-family: $sans-serif;
}
.content-wrap{
    width: 100%;
    @include transition(all .2s ease-in-out);
}

.open-hamburger{
    #hamburger-menu{
        right: 0;
    }
    .header,
    .content-wrap{
        margin-left: -280px;
    }
    .menu-icon{
        &:before {
            @include vendor(transform, rotate(45deg) translate3d(5px,10px,0));
        }

        .menu-icon__text {
            opacity: 0;
        }

        &:after {
            @include vendor(transform, rotate(-45deg) translate3d(5px,-10px,0));
        }
    }
}