/*********************
Variables
*********************/

/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$soft-gray:         #d1d2d4;
$gray:              #eaedf2;
$dark-gray:         #444;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tenup-red:         #fc0d1b;
$soft-blue:         #6a89ba;
$light-blue:        #2ca5da;

$link-color:        $light-blue;
$link-hover:        darken($link-color, 9%);

$nav-link-color:    $dark-gray;
$hamburger-menu-color: #cbcbcb;

$header-bg:         #3c3c3c;
$footer-bg:         $dark-gray;


/*********************
Misc
*********************/

$default-transition:    ease-in-out .23s all;
$quick-transition:      ease-in-out .13s all;
$slow-transition:       ease-in-out .4s all;
