/*********************
Header
*********************/

.header{
    width: 100%;
    background: $header-bg;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(all .2s ease-in-out);
}
.logo-wrap{
    margin: auto auto -1em auto;
    width: 6em;
    height: auto;
    padding: .7em .3em;
    background: $header-bg;
    position: relative;
    z-index: 100;
    @include border-radius(50%);
}

.logo{
    margin: auto;
    width: 60%;
    height: auto;
    &:hover{
        @include opacity(.7);
    }
}

.scss-talk-authors{
    position: absolute;
    top: .9em;
    left: 1em;
    z-index: 10;
    font-size: .8em;
    text-align: left;
    text-transform: uppercase;

    a{
        color: #999;
        text-decoration: none;
        &:hover{
            color: $tenup-red;
        }
    }
    span{
        font-size: .8em;
        color: #777;
    }
}

.content-wrap{
    background: #5b5b5b;
}

#hamburger-menu{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 280px;
    padding: 1em 1em 1.5em 1em;
    background: $dark-gray;
    color: white;
    @include transition(all .2s ease-in-out);
    h3{
        color: rgb(150, 150, 150);
    }
    ul{
        margin-top: 1.5em;
    }
}
    a.return-home{
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        &:hover{
            color: $tenup-red;
        }
    }

.menu-icon {
    display:block;
    width:40px;
    position: absolute;
    right: 1em;
    top: .9em;
    @include vendor(transform, translate3d(0,0,0));

    &:before,
    &:after,
    .menu-icon__text {
        background: $hamburger-menu-color;
        @include vendor(border-radius, 3px);
        content:'';
        display:block;
        height:4px;
        margin:6px 0;
        @include vendor(transition, all .2s ease-out);
        width:100%;
    }

    .menu-icon__text {
        text-indent:-9999px;
    }

}

#main-nav{
    li{
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    a{
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        &:hover{
            color: $tenup-red;
        }
    }
}
