/*********************
Animation
*********************/

.animation-wrap{
    position: relative;
    padding-top: 65%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include filter(blur, 70%);
    overflow: hidden;
}


/*****************/
/* BOUNCY BALL ANIMATION */
/*****************/
#ballWrapper {
    width: 140px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -70px;
}
#ball {
    @include animation(0s, .8s, bouncy-ball, infinite);
    @include border-radius(50%);
    background-size: 80% 80%;
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 140px;
    background: $tenup-red;
}


/* Advanced Bouncy Ball */
#adv-ball {
    @include animation(0s, .8s, adv-bouncy-ball, infinite);
    @include border-radius(50%);
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 140px;
    background: url("/library/images/10up-trans-solidwhite.png") no-repeat center $tenup-red;
    background-size: 80% 80%;

    box-shadow: inset 0 -5px 15px rgba($white,0.35),
                inset -2px -1px 40px rgba($black,0.75),
                0 0 1px $black;

    &:after {
        content: "";
        width: 80px;
        height: 40px;
        position: absolute;
        left: 30px;
        top: 10px;
        background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
        @include border-radius(50% / 25%);
    }
}
#ball-shadow{
    @include animation(0s, .8s, ball-shadow, infinite);
    @include border-radius(50%);
    content: "";
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 90%;
    background: $black;
}
/******* END Bouncy Ball *******/




/*****************/
/* UFO ANIMATION */
/*****************/
.ufo-bg{
    background-image: url("../images/ufo-bg.jpg");
}
.ufo{
    max-width: 400px;
    width: 55%;
    min-height: 200px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 0%;

    @include animation(0s, 7s, hover-ufo, infinite);

    img{
        width: 100%;
        height: auto;
    }
}
.lazers{
    position: absolute;
    top: 2%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    > div{
        position: absolute;
        top: -10%;
        right: 0;
        @include transition(all, .2s, ease-in-out);
        @include rotate(45deg);
        max-width: 100px;
    }
    img{
        width: 100%;
        max-width: 100px;
    }
    .lazer-3{
        @include opacity(0);
        top: -15%;
        right: 77%;
    }
}
/******* END UFO *******/




/*****************/
/* SUPER J ANIMATION */
/*****************/
.super-j-bg{
    background-image: url("../images/clouds-bg.jpg");
}
.super-j-text{
    max-width: 1075px;
    max-height: 386px;
    width: 45%;
    height: auto;
    position: absolute;
    top: 13%;
    left: 26%;
    z-index: 3;
}

.super-j{
    max-width: 1000px;
    width: 75%;
    min-height: 400px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 10%;

    @include animation(0s, 7s, hover-j, infinite);

    img{
        width: 100%;
        height: auto;
    }
}

.clouds{
    position: absolute;
    top: 2%;
    left: 13%;
    width: 100%;
    height: 100%;
    z-index: 5;
    > div{
        position: absolute;
        @include transition(all, .2s, ease-in-out);
    }

    .cloud-2{
        img{
            width: 140%;
        }
    }
    .cloud-3{
        img{
            width: 150%;
        }
    }
}

$clouds: cloud-1 1s 3s infinite, cloud-2 5s 2s infinite, clouds-3 9s 5s infinite;

@each $cloud, $delay, $duration, $count in $clouds{
    .#{$cloud} {
        @include animation($delay, $duration, $cloud, $count);
    }
}

$lazers: lazer-1 1s 3s infinite, lazer-2 5s 2s infinite, lazer-3 9s 5s infinite;

@each $lazer, $delay, $duration, $count in $lazers{
    .#{$lazer} {
        @include animation($delay, $duration, $lazer, $count);
    }
}