$white:             #fff;
$black:             #000;
$gray:              #aaa;
$gray-light:        #eee;
$gray-medium:       #999;
$gray-dark:         #666;

$themes: regular $gray $white, medium $gray-medium $white, dark $gray-dark $white, light $gray-light $black;

.theme {
  padding: 1em;
  width: 70%;
  margin: 0 auto;
}
/* Multiple assignments */
@each $theme, $bg, $text in $themes {
  .#{$theme}-theme {
    background-color: $bg;
    color: $text;
  }
}