#scss-talk-welcome{
    text-align: center;
    padding-top: 7.5em;
    color: #dcdbde;

    h1{
        color: white;
        font-size: 3em;
    }
}

.themes .content-wrap {
  padding-top: 100px;
}
